<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="col">Total products in the database</th>
      <th scope="col"><%= @product_count %></th>
      <th scope="col"><%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
      </section></th>
    </tr>
    <tr>
      <th scope="col">Total categories in the database</th>
      <th scope="col"><%= @category_count %></th>
      <th scope="col"><%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
      </section></th>
    </tr>
  </tbody>
</table>
