<div class="card">
  <div class="card-body">
    <h1 class="card-title">About Us</h1>
    <p class="card-text">We at jungle beleive in promoting the visionaries. We bring to you the most innovative, unique and functional products from across the globe. We help creators market theirt products so they can focus solely on their creativity. Welcome to the tech jungle!</p>
    <%= link_to 'Home', :root %>
  </div>
</div>